[Unit]
Description=A minimal backlight control daemon for Linux
After=multi-user.target

[Service]
ExecStart=/usr/sbin/blctld

[Install]
WantedBy=multi-user.target